<ion-header>
  <ion-toolbar color="new">
    <ion-title style="text-align-last: center; font-size: x-large;">
      Personajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" style="background-color: #cecccc;">
    <div  class="" > 
      <div class="row">
          <div class="col-sm-2 col-md-6" style="padding-left: 40px; background-color: #cecccc;">
              <button style="background-color: #cecccc;">
                <span class="icon"><img  src="./assets/icon/mujerMaravilla.png" (click)="mujerMaravilla()"></span>     
              </button>
           </div>
    
           <div class="col-sm-2  col-md-6"  style="padding-left: 40px; background-color: #cecccc;">
              <button style="background-color: #cecccc;" >
                <span class="icon"><img  src="./assets/icon/thor.png" (click)="thor()"></span>
              </button> 
           </div>
      </div>
    </div>
    
  </div>
</ion-content>
