<ion-header>
  <ion-toolbar>
    <ion-title>
      A Jugar!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div  class="" > 
      <div class="row">
          <div class="col-sm-2 col-md-6">
              <button id="meGusta" class="btn-home">
                <span class="icon"><img class="img-lindo" src="./assets/icon/mujerMaravilla.png" (click)="mujerMaravilla()"></span>     
              </button>
           </div>
    
           <div class="col-sm-2  col-md-6">
              <button id="noMeGusta" class="btn-home">
                <span class="icon"><img class="img-lindo" src="./assets/icon/thor.png" (click)="thor()"></span>
              </button> 
           </div>
      </div>
    </div>
    
  </div>
</ion-content>
