.icon{
display:block;
margin-left:auto;
margin-right:auto;
width: 50%;
}


.vertical-align-content > *
{
     padding: 20px!important;
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}