<!--<div *ngIf="showSplash" class="splash">
   <div class="spinner"></div>
</div>-->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input position="floating" type="text" placeholder="name"/>
        <input position="floating" type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input  type="text"  [(ngModel)]="email" name="email" placeholder="correo"/>
        <input  type="password"  [(ngModel)]="password"  name="password" placeholder="contraseña"/>
        <button (click)="onSubmitLogin()" expand="block">Ingresar</button>
        <p class="message">No registrado? <a href="#">Crear una cuenta</a></p>
      </form>
    </div>
  </div>