   <ion-content padding>
      <div class="usuarios">

          <button  (click)="DesplegarUsuarios()">
            <ion-icon name="person"></ion-icon>
          </button>
        
          <div [class]="agrandar">
              <ion-buttons end style="margin-right: 10px;">
                  <button ion-button icon-only (click)="NoDesplegarUsuarios()">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-buttons>
            <button (click)="SetearUsuario('admin@admin.com', '111111')">admin</button>
            <button (click)="SetearUsuario('invitado@invitado.com', '222222')">invitado</button>
            <button (click)="SetearUsuario('usuario@usuario.com', '333333')">usuario</button>
            <button (click)="SetearUsuario('anonimo@anonimo.com', '444444')">usuario</button>
            <button (click)="SetearUsuario('tester@tester.com', '555555')">tester</button>

          </div>
        
        </div>
      <br><br><br>
      <div class=".col-sm-2 .col-md-12">
        <img class="icon" src="/assets/icon/icon-alarma.png" alt="">
      </div><br><br><br>
      <ion-item>
        <ion-label position="floating" > Correo electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" > Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
      </ion-item>

      <br>
      <div class="login">
          <button class="login, a" (click)="onSubmitLogin()">Entrar</button>	
      </div>
      <!--<ion-button class="login" (click)="onSubmitLogin()" expand="block">Entrar</ion-button>-->
      <br>
      
      <!-- <p text-center routerLink="/registro">Crear cuenta</p> -->
  
  </ion-content>