<!--<div class="btn-group">
  <td><a href="something" class="button4" style="background-color:#1B8AC6" btn-block>Apagada</a></td>-->
  <!--<td><a href="something" class="button4" style="background-color:#66F216" btn-block>encendida</a></td>  -->
  
<!--</div>-->
<!--
<ion-content padding>
<div class="button-container">
  <div class="button">
    <div (click)="start()" class="button-text">
      OK
    </div>
  </div>
  <div class="button-outline"></div>
</div>
</ion-content>-->

<ion-content padding>
  <div full> <h1> x: {{x}}</h1></div>
  <div full> <h1> y: {{y}}</h1></div>
  <div full> <h1> z: {{z}}</h1></div>
  <div full> <h1> TimeStamp : {{timeStamp}}</h1></div>
  <button ion-button full (click)="start()"> Start Listaning </button>
  <button ion-button full (click)="stop()"> Stop Listaning </button>
</ion-content>
