<div class="container">
    <label>{{x}}</label>
    <label>{{y}}</label>
    <label>{{z}}</label>
  <div class="switch white">

    <input type="radio" name="switch" id="switch-off" (click)="stop()" checked>
    <input type="radio" name="switch" id="switch-on"  (click)="start()" >

    <label *ngIf="off"  for="switch-off" class="off"></label>
    <label *ngIf="!off"  for="switch-off" class="offSuave"></label>
    <label *ngIf="on" for="switch-on" class="on"></label>
    <label *ngIf="!on" for="switch-on" class="onSuave"></label>

    <span class="toggle"></span>
   
   
  </div> <!-- end switch -->

</div> <!-- end container -->

