
<div class="log-form">
  <h2>Paola Torrealba</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    
    <button  routerLink='/home' (click)='validarUsuario()' type="submit" class="btn">Login</button>
    <button   routerLink='/registracion'  type="submit" class="btn">Registracion</button>
    <button (click)='navegar' type="submit" class="btn">Navegar</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->