@mixin btn-principal($color-principal, $color-secundario){
    background-color: $color-principal;
    -moz-box-shadow: 0px 7px 0px 0px $color-secundario;
    -webkit-box-shadow: 0px 7px 0px 0px $color-secundario;
    box-shadow: 0px 7px 0px 0px $color-secundario;
  }
  
  #boton1{
    @include btn-principal(rgb(84, 230, 84), #07501b);
    width: -webkit-fill-available;
  }
  
  #boton2{
    @include btn-principal(rgb(84, 230, 84), #07501b);
    width: -webkit-fill-available;
  }
  
  #boton3{
    @include btn-principal(rgb(84, 230, 84), #07501b);
    width: -webkit-fill-available;
  }
  
  #boton4{
    @include btn-principal(rgb(84, 230, 84), #07501b);
    width: -webkit-fill-available;
  }
  
  #boton5{
    @include btn-principal(rgb(84, 230, 84), #07501b);
    width: -webkit-fill-available;
    
  }
  
  /*button{
      height: 103px !important;
      margin: 4px !important;
  }*/
  
  @media screen and (max-width:639px) {
    button{
      height: 100px;
    }
  
    .img-btn{
      height: 40%;
    }
  }
  
  @media screen and (max-width:1024px) and (min-width:640px) {
    button{
      height: 50px;
    }
  
    .img-btn{
      height: 55%;
    }
  }
  
  @media screen and (min-width:1024px) {
    button{
      height: 150px;
    }
  
    .img-btn{
      height: 60%;
    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25%;
    margin-bottom: 10%;
  }


  .body{
    background-color: burlywood !important;
  }