<ion-header>
    <ion-toolbar *ngIf="this.salaChat=='PPS-4A'" color="salaA" >
      <div *ngIf="this.salaChat=='PPS-4A'" >
          <ion-button slot="start" fill="clear" (click)="closeChat()">
            <ion-icon style="color:rgb(0, 31, 116); font-size: 25px" name="arrow-round-back"></ion-icon>
          </ion-button>
          <ion-title>{{chat.name}}</ion-title>
    </div>
    </ion-toolbar>
    <ion-toolbar *ngIf="this.salaChat=='PPS-4B'" color="salaB" >
      <div *ngIf="this.salaChat=='PPS-4B'" >
          <ion-button slot="start" fill="clear" (click)="closeChat()">
            <ion-icon style="color:rgb(138, 90, 1); font-size: 25px" name="arrow-round-back"></ion-icon>
          </ion-button>
          <ion-title>{{chat.name}}</ion-title>
      </div>
    </ion-toolbar>

  </ion-header>
  
  <ion-content padding> 
    <div *ngIf="room">
      <ion-card *ngFor="let mensaje of room.messages">
        <ion-card-content  *ngIf="mensaje.email==this.mail" style="margin-left: 10%; background-color: #97f671;">
            <p style="text-align: end;font-size: 25px;font-family: sans-serif;" >{{mensaje.content}}</p>
            <p style="margin-left: 30%; text-align: end; font-family: inherit; color: #000000d8;">{{mensaje.date}}</p> 
        </ion-card-content>
        <ion-card-content  *ngIf="mensaje.email!=this.mail" style="width: 90%;background-color: #e9eee7;">
            <p style="font-family: inherit; color: #1c8000cf;font-size: 25px;" >{{mensaje.nombre}}</p>
            <p>{{mensaje.content}}</p>
            <p style="font-family: inherit; color: #000000d8;">{{mensaje.date}}</p> 
        </ion-card-content>
      </ion-card>
    </div>
  
  
  
  </ion-content>
  
  <ion-footer padding>
    <ion-item>
      <ion-textarea [(ngModel)]="msg"></ion-textarea>
      <ion-button color="success" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-footer>