<ion-header>
    <ion-toolbar >
      <div *ngIf="colorCeleste" style="background-color: aquamarine;">
          <ion-button slot="start" fill="clear" (click)="closeChat()">
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
          </ion-button>
          <ion-title>{{chat.name}}</ion-title>
    </div>
    </ion-toolbar>

  </ion-header>
  
  <ion-content padding> 
    <div *ngIf="room">
      <ion-card *ngFor="let mensaje of room.messages">
        <ion-card-content style="margin-left: 30%;" *ngIf="mensaje.email==this.mail">
            <p style="position: inherit; text-align: center;" >{{mensaje.content}}</p>
            <p style="margin-left: 30%; font-family: inherit; color: #000000d8;">{{mensaje.date}}</p> 
        </ion-card-content>
        <ion-card-content style="background-color: rgb(224, 239, 241);" *ngIf="mensaje.email!=this.mail">
            <p style="font-family: inherit; color: #1c8000cf;" >{{mensaje.nombre}}</p>
            <p>{{mensaje.content}}</p>
            <p style="font-family: inherit; color: #000000d8;">{{mensaje.date}}</p> 
        </ion-card-content>
      </ion-card>
    </div>
  
  
  
  </ion-content>
  
  <ion-footer padding>
    <ion-item>
      <ion-textarea [(ngModel)]="msg"></ion-textarea>
      <ion-button color="success" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-footer>