<ion-header>
  <ion-toolbar>
    <!--<ion-title>
      Ionic Blank
     
    </ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content padding > 
    

  <div class="main">
    <div class="sub-main">
      
          <button class="button-three btn1" >idiomas</button>  
           <button class="button-three btn2">colores</button>  
           <button class="button-three btn3">numeros</button>     
           <button class="button-three btn4">animales</button>
          
          </div>
  </div>
</ion-content >
