<ion-header>
  <ion-toolbar color="dark">
    <ion-item type="hora" style=" WIDTH: 46%;
    margin-left: 10%;
    font-family: inherit;
    font-size: xx-large;
    margin-left: 90px;">{{hora}}</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-grid  >
    <ion-row id="rowHola">
      <div id="divHola" style="position:absolute; top: 250px; left: 130px;">
      <img src="./assets/icon/mujerMaravillaFigura2.png"> 
    </div>
  </ion-row>
  </ion-grid>     
  </ion-content>
  


